[Unit]
Description=CampusNow scraper
After=campusnow.network mongodb.container
Requires=campusnow.network mongodb.container

[Container]
Image=scraper.build
ContainerName=campusnow-scraper
Network=campusnow.network
Volume=/home/flo/CampusNow/backend/scraper-service:/app:Z
Volume=/home/flo/CampusNow/data/images/360:/app/data/images/360:Z
Environment=MONGO_URI=mongodb://admin:campusnow_secret_2025@mongodb:27017/campusnow?authSource=admin
Environment=MONGO_DB=campusnow
Environment=LOG_LEVEL=INFO
Environment=TZ=Europe/Berlin

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=default.target